.footer {
    position: fixed;
    left: 10px;
    top: 85%;
    width: 98.5%;
    height: 14%;
    background: #033372;
}

.a {
    position: absolute;
    left: 20px;
    top: 10%;
    width: 100px;
    height: 100px;
}
.b{
    position: absolute;
    left: 200px;
    top: 10%;
    width: 60%;
    height: 50px;
}
.c{
    position: absolute;
    left: 62%;
    top: 10%;
    width: 60%;
    height: 50px;
}
