// div{
//     position: fixed;
//     left: 14%;
//     top: 11%;
//     width: 65%;
//     height: 75%;
//     background: #5c0303; 
// }
.cur{
    margin: auto;
    left: 40%;
    top: 11%;
    width: 65%;
    height: 75%;
    background: #5c0303; 
}