<div class="container">
    <div class="sidebar">
        <header>MENU</header>
        <ul>
            <li><a href=""><i></i>MENU 1</a></li>
            <li><a href=""><i></i>MENU 2</a></li>
            <li><a href=""><i></i>MENU 3</a></li>
            <li><a href=""><i></i>MENU 4</a></li>
            <li><a href=""><i></i>MENU 5</a></li>
            <li><a href=""><i></i>MENU 6</a></li>
            <li><a href=""><i></i>MENU 7</a></li>
        </ul>
    </div>
</div>

<!-- <app-header></app-header> -->